body {
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    background-color:azure;
    text-align: center;
    background: linear-gradient(135deg, red, green, white); 

}
header {
    background: linear-gradient(135deg, #20732a, #952016);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 2rem;
    font-weight: 700;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.staff-container,.departments-container {
display:flex;
flex-wrap:wrap;
justify-content:center;
padding:20px;
}
.staff-member{
    background:white;
    margin:5px;
    padding:15px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    display:flex;
    flex-direction:column;
    align-items:center;
    width:220px;
}
.square {
    width:220px;
    height:220px;
}
.rectangle {
    width:80%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    padding:20px;
    text-align:center;
}
.staff-member img,.department img{
    width:100px;
    height:100px;
    border-radius:50%;
    object-fit:cover;
}
h2{
    margin:10px 0 5px;
    font-size:1.5em;
    text-align:center;
}
p{
    color:green;
    margin:0;
    line-height:1.5;
}
.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
    color: #ff758c;
}
.back-button:hover {
    transform: scale(1.2);
    color: #ff4f70;
}
